.icon {
  transition: 0.3s;
}

.root {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &.expanded {
    & .icon {
      transform: rotate(180deg);
    }
  }
}
